.tree {
  padding-right: 10px;
  width: 20%;
  float: left;
  height: 100vh;
  border-style: double;
  /* background-color: red; */
}

.navigator {
  margin-top: 15px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  border-bottom-style: dotted;
  padding: 5px;
  padding-right: 10px;
}

.add-folder {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}