.error-message {
  color: red;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.login-form {
  position: absolute;
  bottom: auto;
    right:0;
    left:0;
    top: 50px;
  margin-left:auto;
  margin-right:auto;
}