.error-message {
  color: red;
}

.login-form {
  left: 50%;
  top: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 350px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}